

<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col m3">
		<div class="collection">
			<% @videos.each do |video| %>
			<%= link_to video.title, video, class: 'collection-item' %>
			<% end %>
		</div>
	</div>
	<div class="col m9">	
		<div class="card blue-grey darken-1">
			<div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
				<div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
					<div class="wistia_embed wistia_async_<%= @video.wistia %>" style="height:100%;width:100%">&nbsp;</div>
				</div>
			</div>
			<div class="card-content white-text">
				<button class="btn btn-primary" onclick="setplaySpeed(0.75)">0.75x</button>
				<button class="btn btn-primary" onclick="setplaySpeed(1)">1x</button>
				<button class="btn btn-primary" onclick="setplaySpeed(1.5)">1.5x</button>
				<button class="btn btn-primary" onclick="setplaySpeed(2)">2x</button>
				<span class="card-title"><%= @video.title %></span>
				<p><%= @video.description %></p>
			</div>
			<div class="card-action">
				<!-- Next & Previous  -->
				<%= link_to "Previous", @prev_video %>
				<%= link_to "Next", @next_video, class: "right" %>
			</div>
		</div>
	</div>
</div>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
<script>
	window._wq = window._wq || [];

	// target our video by the first 3 characters of the hashed ID
	_wq.push({ 
		id: "<%= @video.wistia %>",
		options: {
			videoFoam: true,
			playbackRateControl:true
		},
		onReady: function(video) {
			// on play, seek the video to 10 seconds, then unbind so it
		  	// only happens once.
		  	
		  	video.bind('play', function() {
		  		return video.unbind;
		  	});
		  	video.playbackRate(2);

		  }
		});

	function setplaySpeed(s) {
		_wq.push({
			id: "<%= @video.wistia %>",
			onReady: function(video) {
				video.playbackRate(s);
			}
		});
	}

</script>